$post-text-color: #333;
$link-color: #007bff;
$blockquote-border-color: #ddd;
$blockquote-text-color: #999;
$code-background-color: #f5f5f5;

.post-content {
  font-family: 'Arial', sans-serif;
  color: $post-text-color;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px 20px;

  h1, h2, h3, h4, h5, h6 {
    color: $post-text-color;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  // 可以继续为 h4, h5, h6 设置字体大小

  p {
    margin-bottom: 1em;

    img {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul, ol {
    margin-left: 20px;
    margin-bottom: 1em;
  }

  ul li, ol li {
    margin-bottom: 0.5em;
  }

  blockquote {
    border-left: 3px solid $blockquote-border-color;
    padding-left: 15px;
    margin-left: 0;
    margin-bottom: 1em;
    color: $blockquote-text-color;
    font-style: italic;
  }

  code {
    font-family: 'Courier New', Courier, monospace;
    background-color: $code-background-color;
    padding: 3px;
  }

  pre {
    background-color: $code-background-color;
    padding: 10px;
    overflow: auto;
  }

  img {
    max-width: 100%;
  }

  strong {
    font-weight: 700;
  }

}
